* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "outfit";
    background-color: #c9d6ff;
    background: linear-gradient(to right, #526D82, #27374D);}

.logo {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideLeft 3s ease forwards;
    animation-delay: 1.5s;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #ff994f;
    font-size: 40px;
    margin-bottom: 5px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #ff994f;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    color: #666;
    border-radius: 50px;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 2s;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    opacity: 0;
    animation: slideLeft 1.5s ease forwards;
    animation-delay: 2s;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #ff994f, #fa6d86);
    cursor: pointer;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: 2s;
}

.contact-left button img {
    height: 15px;
}

.contact-right img {
    width: 500px;
    margin-left: 100px;
    opacity: 0;
    animation: slideRight 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 2s;
}

@media(max-width:800px) {
    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}

/**************KEYFRAMES ANİMATİON****************/


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}